.App-Informacao-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clients-icon-detalhe {
  display: flex;
  gap: 5px;
  text-align: left !important;

  margin: 30px 10px;
}

.clients-icon-detalhe h1.title {
  color: var(--cinzas-cinza-2, #3f3f55);
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  text-align: left !important;
}

.infoClient {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 268.526px;
  padding: 24px 21px 24px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: #fff;
  margin: 20px 0;
}

.container-cobranca {
  display: flex;
  width: 1200px;
  padding: 24px 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: #fff;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.titulo button {
  color: var(--principais-verde-normal, #0e8750);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: inline-flex;
  padding: 4px 60px;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  border: 1px solid var(--cinzas-cinza-6, #dedee9);
  background: var(--cinzas-cinza-8, #f8f8f9);

  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}

.titulo img {
  width: 18px;
  height: 18px;
}

:where(.css-dev-only-do-not-override-nllxry).ant-descriptions
  .ant-descriptions-header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

:where(.css-dev-only-do-not-override-nllxry).ant-descriptions
  .ant-descriptions-row
  > th {
  padding-bottom: 0;
}

:where(.css-dev-only-do-not-override-nllxry).ant-descriptions
  .ant-descriptions-row
  > td {
  padding-bottom: 30px;
}

:where(.css-dev-only-do-not-override-nllxry).ant-descriptions
  .ant-descriptions-item-label {
  color: var(--cinzas-cinza-2, #3f3f55);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

:where(.css-dev-only-do-not-override-nllxry).ant-descriptions
  .ant-descriptions-item-content {
  color: var(--cinzas-cinza-2, #3f3f55);

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

:where(.css-dev-only-do-not-override-nllxry).ant-descriptions
  .ant-descriptions-title {
  color: var(--cinzas-cinza-2, #3f3f55);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 23.4px */
}

.info-cobranca {
  display: flex;

  padding: 12px 23px;
  flex-direction: column;
}

.header-cobranca {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-cobranca button {
  color: var(--cinzas-cinza-8, #f8f8f9);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  padding: 4px 56px;
  justify-content: center;
  align-items: center;
  border: none;

  cursor: pointer;
  border-radius: 10px;
  background: var(--principais-rosa-normal, #da0175);
}

.status {
  display: flex;
  justify-content: center;
  line-height: 20px !important;
  display: flex;
  padding: 0px 8px;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.status-divida {
  color: #971d1d !important;
  border-radius: 8px;
  background: #ffefef;
}

.status-pago {
  color: #1fa7af !important;
  border-radius: 8px;
  background: #eef6f6;
}

.css-1ygcj2i-MuiTableCell-root {
  padding: 30px 16px !important;
}

.css-1ex1afd-MuiTableCell-root {
  border-top: 1px solid rgba(224, 224, 224, 1);
}

.css-1ygcj2i-MuiTableCell-root {
  border-bottom: none !important;
}

.css-1ex1afd-MuiTableCell-root {
  border-bottom: none !important;
}

.img-cobranca {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  gap: 24px;
}

.EditIm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.EditIm p {
  color: var(--cinzas-cinza-3, #747488);
  font-family: Nunito;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Exclu p {
  color: var(--feedback-erro-dark, #ae1100);
  font-family: Nunito;
  font-size: 8px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.Exclu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.css-1ex1afd-MuiTableCell-root h3 {
  color: var(--neutrals-dark-medium, #6e6e85);
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 285.714% */
  letter-spacing: 0.07px;
}

.status-inadimplente {
  background-color: #ffefef;
  color: #971d1d !important;
}

.filter-cobranca {
  display: flex;
  align-items: center;

  gap: 10px;
}

.css-1ygcj2i-MuiTableCell-root {
}
